

.footer{
    height: 65px;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    background-color: #363636;
    color: #878787;
    font-size: 13px;
    .text{
        margin-top: 25px;
    }
}