@import "../assets/fonts/iransans-fonts/fonts.scss";

.navbar {
    background-color: white;
    font-family: IRANSans;
    direction: rtl;
    height: 60px;
    .logo{
        height: 60px;
        width: 40%;
        padding-right: 13%;
        padding-top: 0;
        img {
            height: 60px;
            width: 130px;
            float: right;
        }
    }
    .nav{
        width: 60%;
        height: 60px;
        float: left;
        background-color: white;
        
        .navObject {
            text-align: center;
            text-decoration: none;
            display: inline-block;
            color: black;
            &.account{
                position: absolute;
                left: 25%;
                margin-top: 10px;
            }
            &.exit{
                position: absolute;
                left: 15%;
                margin-top: 10px;
            }
        }
    }
}

