@import "../assets/fonts/iransans-fonts/fonts.scss";


.home {
    width: 100%;
    height: 100%;
    /////
    // display: table;
    // height: inherit;
    margin: 0;
    padding: 0;
    font-family: IRANSans;
    direction: rtl;

    .content {
        // min-height: calc(100% - (120px));
        // height: 100%;
        height: inherit;
        display: table;
        padding-top: 60px;
        width: 100%;
        .blueLine {
            background-color: #B9EEF2;
            height: 285px;
            .row {
                margin: 0;
            }

            .home-title {
                font-size: 50px;
                font-weight: bold;
                color: #00848c;
                padding-top: 20px;
                position: relative;
                right: 15%;
            }

            .home-title-desc {
                // margin-right: 210px;
                padding-top: 15px;
                direction: rtl;
                position: relative;
                right: 15%;
                margin-left: 20%;
                text-align: right;
            }

            .search-form {
                margin-top: 40px;

                .form-row {
                    position: relative;
                    right: 24%;

                    .input-group {
                        width: 50%;
                        height: 55px;
                        background-color: #d7f8fa;
                        border-bottom: 3px solid #00aebf;

                        input:focus {
                            box-shadow: none;
                        }

                        input {
                            background-color: #d7f8fa;
                            color: #6badaf;
                            border-radius: 0;
                            height: 100%;
                            border: none;
                        }

                        input::placeholder {
                            color: #6badaf;
                        }

                        .input-group-append {
                            padding-left: 7px;
                            padding-top: 5px;
                            padding-bottom: 3px;

                            .search-button {
                                border-radius: 0;
                                height: 95%;
                                background-color: #00aebf;
                                border: none;
                            }

                            .search-button::focus {
                                box-shadow: none;
                            }

                            .btn-primary:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }

        .projects {
            width: 65%;
            // float: left;
            right: 25%;
            position: relative;
            height: calc(100% - (265px + 65px));
            // height: 85%;
            margin-top: -20px;
            a{
                text-decoration: none;
                color: inherit;
            }
            a:focus{
                outline: none !important;
            }
            .project-card {
                .main-row {
                    margin: 0;
                    height: 100%;
                }
                
                margin-bottom: 15px;
                direction: rtl;
                // width: 65%;
                // height: 16%;
                // height: calc(100% - (1000px));
                
                // right: 25%;

                // float: left;
                // left: 12%;
                &.project-card:first-child{
                    margin-top: -20px;
                }
                &.project-card:hover {
                    box-shadow: 0.1px 0px 10px 0.1px #b1b1b1;
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    max-height: 220px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-right: 12px;
                }

                .info-col {
                    height: 98%;

                    .title-time {
                        padding-top: 12px;
                        height: 30%;
                        margin-left: 0;

                        .title {
                            font-size: 1.3vw;
                            font-weight: bold;
                            text-align: right;
                        }

                        .time {
                            .remain-time {
                                font-size: 1.1vw;
                                text-align: center;
                                background-color: #f5f5f5;
                                color: #767676;
                                height: 50%;
                                margin-left: 5px;
                            }
                            .expire-time{
                                background-color: #3d8788;
                                font-size: 1.1vw;
                                text-align: center;
                                color: #ffff;
                                height: 50%;
                                margin-left: 5px;
                                border-radius: 10%;
                            }
                        }
                    }

                    .project-desc {
                        margin-left: 30px;
                        padding-top: 20px;
                        direction: rtl;
                        height: 35%;
                        font-size: 1vw;
                        text-align: right;
                        // overflow: auto;
                    }

                    .budget {
                        margin: 0;
                        font-weight: 600;
                        padding-top: 10px;
                        direction: rtl;
                        color: #00858d;
                        font-size: 1.2vw;
                    }

                    .skills {
                        margin: 0;
                        padding-top: 10px;
                        direction: rtl;
                        padding-bottom: 5px;

                        .skill-label {
                            font-weight: 200;
                            padding-left: 10px;
                            color: #989898;
                        }

                        .skill-box-name {
                            background-color: #f9f9f9;
                            border: 1px solid #989898;
                            color: #767676;
                            border-radius: 6%;
                            // padding-left: 10px;
                            // padding-right: 10px;
                            width: 14%;
                            text-align: center;
                            font-weight: 600;
                            margin-right: 5px;
                            font-size: 1.1vw;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        .users{
            width: 18%;
            position: absolute;
            top: 325px;
            margin-right: 50px;
            height: calc(100% - (265px + 65px));
            .user-search-card{
                height: 9%;
                .user-search-row{
                    margin: 0;
                    width: 97%;
                    padding-top: 5px;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    height: 100%;
                    input{
                        width: 100%;
                        height: 100%;
                        background-color: #f9f9f9;
                        border: none;
                    }
                    input:focus{
                        border: none;
                        box-shadow: none;
                    }
                }
            }
            .user-card{
                margin-top: 10px;
                &.user-card:hover{
                    box-shadow: 0.1px 0px 10px 0.1px #b1b1b1;
                    cursor: pointer;
                }
                .user-card-row{
                    margin: 0;
                    // padding-top: 3px;
                    .user-image{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        img{
                            width: 100%;
                            height: auto;
                            border-radius: 10%;
                            max-height: 50px;
                        }
                    }
                    .user-info{
                        text-align: right;
                        .user-name{
                            margin: 0;
                            font-size: 1.4vw;
                        }
                        .user-desc{
                            margin: 0;
                            color: #989898;
                            font-size: 0.9vw;
                            padding-top: 5px;
                            
                        }
                    }
                }
            }
        }
    }
}
.Toastify{
    .Toastify__toast-body{
        font-family: IRANSans;
        direction: rtl;
    }
}