@import "../assets/fonts/iransans-fonts/fonts.scss";

.user {
    font-family: IRANSans;
    margin: 0;
    direction: rtl;
    height: 100%;

    .content {
        height: calc(100% - (65px+65px));
        padding-top: 60px;

        .top-bar {
            height: 150px;
            background-color: #B9EEF2;
        }

        .profile-row {
            height: 25%;
            margin-top: -90px;
            margin-right: 0px;
            margin-left: 0px;

            .profile-picture {
                border: 8px solid white;
                border-radius: 20px;
                width: 200px;
                height: 200px;
                // box-shadow: 0.1px 0px 30px 0.1px #b1b1b1;
                position: relative;
                right: 12%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }
            }

            .bar {
                background-color: transparent;
                border-bottom: 25px solid #72C3CD;
                border-left: 25px solid transparent;
                z-index: 1;
                width: 100px;
                position: absolute;
                margin-top: 65px;
                right: calc(12% + (200px));
            }

            .bar-shadow {
                background-color: #545230;
                background-color: transparent;
                border-bottom: 25px solid rgb(142, 218, 221);
                opacity: 0.8;
                border-left: 25px solid transparent;
                z-index: 1;
                width: 125px;
                position: absolute;
                margin-top: 65px;
                right: calc(12% + (192px));
            }

            .user-name {
                font-size: 35px;
                font-weight: bold;
                color: #464646;
                display: inline-block;
                position: absolute;
                margin-top: 100px;
                right: calc(12% + (225px));
            }

            .user-title {
                color: #464646;
                display: inline-block;
                position: absolute;
                margin-top: 160px;
                right: calc(12% + (225px));
            }
        }

        .bio-row {
            margin-top: 50px;
            // position: relative;
            // right: 13%;
            margin-right: 190px;
            margin-left: 100px;
            text-align: right;
        }

        .add-skill-row {
            margin-top: 60px;
            // position: relative;
            // right: 13%;
            margin-right: 190px;
            margin-left: 100px;
            text-align: right;

            .label-for-skill {
                margin-left: 8px;
                font-size: 19px;
                font-weight: bold;
                padding-top: 6px;
            }

            .skill-list {
                display: inline-flex;
                background-color: white;
                height: 45px;
                border-radius: 3px;
                padding: 2.5px 2px 2.5px 2px;
                // box-shadow: 0.1px 0px 30px 0.1px #b1b1b1;
                font-size: 13px;
                .dropdown{
                    width: 200px;
                    margin: 1px;
                    .btn{
                        color: black;
                        width: 100%;
                        background-color: #f6f6f6;
                        text-align: right;
                        direction: rtl;
                        border-radius: 0;
                        border-color : #f6f6f6;
                    }
                    .btn:focus,.btn-primary:focus{
                        box-shadow: none;
                    }
                    .dropdown-toggle::after {
                        float: left;
                        margin-top: 10px;
                    }
                    .dropdown-menu{
                        max-height: 200px;
                        overflow-y: scroll;
                        position: relative;
                        top: -40px;
                    }
                }
                // #select-field {
                //     width: 200px;
                //     // height: 36px;
                //     margin: 1px;
                //     margin-left: 2px;
                //     border: 1px solid #f9f9f9;
                //     background-color: #f9f9f9;
                //     font-family: inherit;

                //     option[value=""] {
                //         display: none;
                //     }

                //     option {
                //         color: black;
                //         // width: 100px !important;
                //         display: inline-block;
                //     }
                // }
                // #select-field:focus{
                //     outline: none !important;
                // }
                .add-skill-btn {
                    margin: 1px;
                    width: 100px;
                    color: white;
                    text-align: center;
                    background-color: #1BA6B2;
                    border-radius: 3px;
                    border: none;
                    font-family: inherit;
                    cursor: pointer;
                    font-size: 13px;
                    &.add-skill-btn:focus{
                        box-shadow: none;
                    }
                }

            }
        }

        .skills-boxes {
            direction: ltr;
            margin-right: 190px;
            margin-left: 100px;
            margin-top: 60px;
            height: 15%;
            .skill-box {
                background-color: white;
                margin-top: 15px;
                margin-left: 20px;
                border-radius: 4px;
                box-shadow: 0px 0px 5px 0.1px #b1b1b1;
                display: inline-flex;
                padding: 4px 6px 0 8px;
                text-align: center;
                height: 35px;
                .point {
                    margin-left: 10px;
                    width: 22px;
                    height: 22px;
                    background-color: #B9EEF2;
                    font-size: 13px;
                    line-height: 22px;
                    border-radius: 4px;
                    color: #14646c;
                    margin-top: 2px;
                }
            }
            .skill-box:hover {
                cursor: pointer;
                .point{
                    background-color : #ef001c;
                    color: white;
                }
            }
        }
    }
}